interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.themoviedb.org/3/search/movie?query=das12ad9ds3asdd0d8sda
  response:
    content: '{"page":1,"results":[],"total_pages":1,"total_results":0}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      ETag:
      - W/"0e23279b004381f72a34159d5c7dfd1f"
      X-Memc:
      - MISS, STORE
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '24360'
      X-Memc-Key:
      - 6f488b9f4c984c039cf3b57836f057f6
    status_code: 200
version: 1
