interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.themoviedb.org/3/search/movie?query=The+Matrix&api_key=cfd9e591806c8cd42d9f35453eefb5b6
  response:
    content: "{\"page\":1,\"results\":[{\"adult\":false,\"backdrop_path\":\"/l4QHerTSbMI7qgvasqxP36pqjN6.jpg\",\"genre_ids\":[28,878],\"id\":603,\"original_language\":\"en\",\"original_title\":\"The
      Matrix\",\"overview\":\"Set in the 22nd century, The Matrix tells the story
      of a computer hacker who joins a group of underground insurgents fighting the
      vast and powerful computers who now rule the earth.\",\"popularity\":79.668,\"poster_path\":\"/f89U3ADr1oiB1s9GkdPOEpXUk5H.jpg\",\"release_date\":\"1999-03-30\",\"title\":\"The
      Matrix\",\"video\":false,\"vote_average\":8.2,\"vote_count\":22571},{\"adult\":false,\"backdrop_path\":\"/eNI7PtK6DEYgZmHWP9gQNuff8pv.jpg\",\"genre_ids\":[878,28,12],\"id\":624860,\"original_language\":\"en\",\"original_title\":\"The
      Matrix Resurrections\",\"overview\":\"Plagued by strange memories, Neo's life
      takes an unexpected turn when he finds himself back inside the Matrix.\",\"popularity\":126.409,\"poster_path\":\"/8c4a8kE7PizaGQQnditMmI1xbRp.jpg\",\"release_date\":\"2021-12-16\",\"title\":\"The
      Matrix Resurrections\",\"video\":f[...]
