interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.themoviedb.org/3/movie/79026?api_key=cfd9e591806c8cd42d9f35453eefb5b6
  response:
    content: '{"adult":false,"backdrop_path":null,"belongs_to_collection":null,"budget":0,"genres":[{"id":28,"name":"Action"},{"id":80,"name":"Crime"},{"id":18,"name":"Drama"}],"homepage":"","id":79026,"imdb_id":"tt0325950","original_language":"en","original_title":"El
      padrino","overview":"In the streets of East Los Angeles, Manny is a formidable
      drug dealer. Impressed by his extravagant lifestyle and prowess, his young son,
      Kilo, yearns to follow in his footsteps. Kilo resolves to learn how to prosper
      in the drug world, and his new life as a dealer begins. In a world where a man
      wants everything, he may end up with nothing.","popularity":10.82,"poster_path":"/10J7EQ8WvMYku8lcZrLewV2Ko4I.jpg","production_companies":[],"production_countries":[{"iso_3166_1":"US","name":"United
      States of America"}],"release_date":"2004-09-27","revenue":0,"runtime":128,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"}],"status":"Released","tagline":"","title":"El
      padrino: The Latin Godfather","video":false,"vote_average":6.75,"vote_count":29}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      ETag:
      - W/"1aa9981ed24bb23caac4e6c6246908e0"
      X-Memc:
      - HIT
      X-Memc-Age:
      - '7528'
      X-Memc-Expires:
      - '6924'
      X-Memc-Key:
      - ba78d135326d9e8eed8eca3bda509abc30ba3a6a
    status_code: 200
version: 1
