interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.themoviedb.org/3/search/movie?query=The+Matrix
  response:
    content: "{\"page\":1,\"results\":[{\"adult\":false,\"backdrop_path\":\"/oMsxZEvz9a708d49b6UdZK1KAo5.jpg\",\"genre_ids\":[28,878],\"id\":603,\"original_language\":\"en\",\"original_title\":\"The
      Matrix\",\"overview\":\"Set in the 22nd century, The Matrix tells the story
      of a computer hacker who joins a group of underground insurgents fighting the
      vast and powerful computers who now rule the earth.\",\"popularity\":77.982,\"poster_path\":\"/aOIuZAjPaRIE6CMzbazvcHuHXDc.jpg\",\"release_date\":\"1999-03-30\",\"title\":\"The
      Matrix\",\"video\":false,\"vote_average\":8.204,\"vote_count\":23348},{\"adult\":false,\"backdrop_path\":\"/dB0CxRwLXJoOrRPUvsJjb2hnPtq.jpg\",\"genre_ids\":[878,28,12],\"id\":624860,\"original_language\":\"en\",\"original_title\":\"The
      Matrix Resurrections\",\"overview\":\"Plagued by strange memories, Neo's life
      takes an unexpected turn when he finds himself back inside the Matrix.\",\"popularity\":68.405,\"poster_path\":\"/8c4a8kE7PizaGQQnditMmI1xbRp.jpg\",\"release_date\":\"2021-12-16\",\"title\":\"The
      Matrix Resurrections\",\"video\":fa[...]
