interactions:
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://radarr.huis/api/v3/movie/lookup/tmdb?tmdbId=champagne
  response:
    content: "{\n  \"type\": \"https://tools.ietf.org/html/rfc7231#section-6.5.1\",\n
      \ \"title\": \"One or more validation errors occurred.\",\n  \"status\": 400,\n
      \ \"traceId\": \"00-48182c8aeefa20e91a4c1f1f4e393b6f-53ee01644d5ae11d-00\",\n
      \ \"errors\": {\n    \"tmdbId\": [\n      \"The value 'champagne' is not valid.\"\n
      \   ]\n  }\n}"
    headers:
      Content-Type:
      - application/problem+json; charset=utf-8
      X-Application-Version:
      - 4.5.2.7388
    status_code: 400
version: 1
