interactions:
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://radarr.huis/api/v3/movie/lookup/tmdb?tmdbId=715931
  response:
    content: "{\n  \"title\": \"Emancipation\",\n  \"originalTitle\": \"Emancipation\",\n
      \ \"originalLanguage\": {\n    \"id\": 1,\n    \"name\": \"English\"\n  },\n
      \ \"alternateTitles\": [\n    {\n      \"sourceType\": \"tmdb\",\n      \"movieMetadataId\":
      0,\n      \"title\": \"Hacia la libertad\",\n      \"sourceId\": 0,\n      \"votes\":
      0,\n      \"voteCount\": 0,\n      \"language\": {\n        \"id\": 3,\n        \"name\":
      \"Spanish\"\n      }\n    },\n    {\n      \"sourceType\": \"tmdb\",\n      \"movieMetadataId\":
      0,\n      \"title\": \"Emancipa\xE7\xE3o: Uma Hist\xF3ria de Liberdade\",\n
      \     \"sourceId\": 0,\n      \"votes\": 0,\n      \"voteCount\": 0,\n      \"language\":
      {\n        \"id\": 1,\n        \"name\": \"English\"\n      }\n    },\n    {\n
      \     \"sourceType\": \"tmdb\",\n      \"movieMetadataId\": 0,\n      \"title\":
      \"\u0631\u0647\u0627\u06CC\u06CC\",\n      \"sourceId\": 0,\n      \"votes\":
      0,\n      \"voteCount\": 0,\n      \"language\": {\n        \"id\": 1,\n        \"name\":
      \"English\"\n      }\n    },\n    {\n      \"sourceType\": \"tmdb\",\n      \"movieMetadataId\":
      0,\n      \"title\": \"\uD574\uBC29\",\n      \"sourceId\": 0,\n      \"votes\":
      0,\n      \"voteCount\": 0,\n      \"language\": {\n        \"id\": 1,\n        \"name\":
      \"English\"\n      }\n    },\n    {\n      \"sourceType\": \"tmdb\",\n      \"movieMetadataId\":
      0,\n      \"title\": \"\u041E\u0441\u0432\u043E\u0431\u043E\u0436\u0434\u0435\u043D\u0438\u0435\",\n
      \     \"sourceId\": 0,\n      \"votes\": 0,\n      \"voteCount\": 0,\n      \"language\":
      {\n        \"id\": 11,\n        \"name\": \"Russian\"\n      }\n    }\n  ],\n
      \ \"secondaryYearSourceId\": 0,\n  \"sortTitle\": \"emancipation\",\n  \"sizeOnDisk\":
      0,\n  \"status\": \"released\",\n  \"overview\": \"Inspired by the gripping
      true story of a man who would do anything for his family\u2014and for freedom.
      When Peter, an enslaved man, risks his life to escape and return to his family,
      he embarks on a perilous journey of love and endurance.\",\n  \"inCinemas\":
      \"2022-12-02T00:00:00Z\",\n  \"digitalRelease\": \"2022-12-09T00:00:00Z\",\n
      \ \"images\": [\n    {\n      \"coverType\": \"poster\",\n      \"url\": \"https://image.tmdb.org/t/p/original/s9sUK1vAaOcxJfKzNTszrNkPhkH.jpg\"\n
      \   },\n    {\n      \"coverType\": \"fanart\",\n      \"url\": \"https://image.tmdb.org/t/p/original/ypFD4TJ3nLJesou76V59CnweaT0.jpg\"\n
      \   }\n  ],\n  \"website\": \"https://tv.apple.com/movie/umc.cmc.1j6fdxookwtqml3bd8ivvcbbv\",\n
      \ \"year\": 2022,\n  \"hasFile\": false,\n  \"youTubeTrailerId\": \"C3yHUpR7yv8\",\n
      \ \"studio\": \"Escape Artists\",\n  \"qualityProfileId\": 0,\n  \"monitored\":
      false,\n  \"minimumAvailability\": \"tba\",\n  \"isAvailable\": true,\n  \"folderName\":
      \"\",\n  \"runtime\": 132,\n  \"cleanTitle\": \"emancipation\",\n  \"imdbId\":
      \"tt12530246\",\n  \"tmdbId\": 715931,\n  \"titleSlug\": \"715931\",\n  \"certification\":
      \"R\",\n  \"genres\": [\n    \"History\",\n    \"Drama\",\n    \"Thriller\"\n
      \ ],\n  \"tags\": [],\n  \"added\": \"0001-01-01T00:00:00Z\",\n  \"ratings\":
      {\n    \"imdb\": {\n      \"votes\": 15649,\n      \"value\": 6,\n      \"type\":
      \"user\"\n    },\n    \"tmdb\": {\n      \"votes\": 558,\n      \"value\": 8.122,\n
      \     \"type\": \"user\"\n    },\n    \"metacritic\": {\n      \"votes\": 0,\n
      \     \"value\": 54,\n      \"type\": \"user\"\n    },\n    \"rottenTomatoes\":
      {\n      \"votes\": 0,\n      \"value\": 54,\n      \"type\": \"user\"\n    }\n
      \ },\n  \"popularity\": 663.581\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Application-Version:
      - 4.3.2.6857
    status_code: 200
- request:
    body: '{"title": "Emancipation", "tmdbId": 715931, "QualityProfileId": 1, "RootFolderPath":
      "/media-center/movies/Emancipation (2022)", "monitored": true}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: http://radarr.huis/api/v3/movie
  response:
    content: "[\n  {\n    \"propertyName\": \"TmdbId\",\n    \"errorMessage\": \"This
      movie has already been added\",\n    \"attemptedValue\": 715931,\n    \"severity\":
      \"error\",\n    \"errorCode\": \"MovieExistsValidator\",\n    \"formattedMessageArguments\":
      [],\n    \"formattedMessagePlaceholderValues\": {\n      \"propertyName\": \"Tmdb
      Id\",\n      \"propertyValue\": 715931\n    }\n  }\n]"
    headers:
      Content-Type:
      - application/json
    status_code: 400
version: 1
