interactions:
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://radarr.huis/api/v3/movie/lookup/tmdb?tmdbId=champagne
  response:
    content: "{\n  \"type\": \"https://tools.ietf.org/html/rfc7231#section-6.5.1\",\n
      \ \"title\": \"One or more validation errors occurred.\",\n  \"status\": 400,\n
      \ \"traceId\": \"00-297eee65b6c0974d10516bb8e9247439-a77698c0750c22f5-00\",\n
      \ \"errors\": {\n    \"tmdbId\": [\n      \"The value 'champagne' is not valid.\"\n
      \   ]\n  }\n}"
    headers:
      Content-Type:
      - application/problem+json; charset=utf-8
      X-Application-Version:
      - 4.3.2.6857
    status_code: 400
version: 1
