interactions:
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://radarr.huis/api/v3/movie
  response:
    content: "[\n  {\n    \"title\": \"X-Men: First Class 35mm Special\",\n    \"originalTitle\":
      \"X-Men: First Class 35mm Special\",\n    \"originalLanguage\": {\n      \"id\":
      1,\n      \"name\": \"English\"\n    },\n    \"alternateTitles\": [\n      {\n
      \       \"sourceType\": \"tmdb\",\n        \"movieMetadataId\": 1,\n        \"title\":
      \"x\u6218\u7B2C\u4E00\u6218\u5E55\u540E\",\n        \"sourceId\": 0,\n        \"votes\":
      0,\n        \"voteCount\": 0,\n        \"language\": {\n          \"id\": 10,\n
      \         \"name\": \"Chinese\"\n        },\n        \"id\": 4239\n      }\n
      \   ],\n    \"secondaryYearSourceId\": 0,\n    \"sortTitle\": \"x men first
      class 35mm special\",\n    \"sizeOnDisk\": 1247818249,\n    \"status\": \"released\",\n
      \   \"overview\": \"\",\n    \"digitalRelease\": \"2012-06-05T00:00:00Z\",\n
      \   \"images\": [\n      {\n        \"coverType\": \"poster\",\n        \"url\":
      \"/MediaCover/1/poster.jpg?lastWrite=638184746523498538\",\n        \"remoteUrl\":
      \"https://image.tmdb.org/t/p/original/rtuSk6E5RF30yM7P0mqnyDdYYl4.jpg\"\n      },\n
      \     {\n        \"coverType\": \"fanart\",\n        \"url\": \"/MediaCover/1/fanart.jpg?lastWrite=638063633085100762\",\n
      \       \"remoteUrl\": \"https://image.tmdb.org/t/p/original/zXVledoXBJnYyrwdSLvnYmhgJXy.jpg\"\n
      \     }\n    ],\n    \"website\": \"\",\n    \"year\": 2012,\n    \"hasFile\":
      true,\n    \"youTubeTrailerId\": \"\",\n    \"studio\": \"Sky Movies\",\n    \"path\":
      \"/media-center/movies/X-Men First Class (2011)\",\n    \"qualityProfileId\":
      1,\n    \"monitored\": true,\n    \"minimumAvailability\": \"announced\",\n
      \   \"isAvailable\": true,\n    \"folderName\": \"/media-center/movies/X-Men
      First Class (2011)\",\n    \"runtime\": 30,\n    \"cleanTitle\": \"xmenfirstclass35mmspecial\",\n
      \   \"imdbId\": \"tt1948218\",\n    \"tmdbId\": 691677,\n    \"titleSlug\":
      \"691677\",\n    \"rootFolderPath\": \"/media-center/movies/\",\n    \"genres\":
      [\n      \"Documentary\"\n    ],\n    \"tags\": [],\n    \"added\": \"2022-12-11T13:48:27Z\",\n
      \   \"ratings\": {\n      \"imdb\": {\n        \"votes\": 42,\n        \"value\":
      7,\n        \"type\": \"user\"\n      },\n      \"tmdb\": {\n        \"votes\":
      23,\n        \"value\": 6.9,\n        \"type\": \"user\"\n      }\n    },\n
      \   \"movieFile\": {\n      \"movieId\": 1,\n      \"relativePath\": \"X-Men
      First Class (2011) 720p 2.0 x264 Phun Psyz.mp4\",\n      \"path\": \"/media-center/movies/X-Men
      First Class (2011)/X-Men First Class (2011) 720p 2.0 x264 Phun Psyz.mp4\",\n
      \     \"size\": 1247818249,\n      \"dateAdded\": \"2022-12-11T13:48:28Z\",\n
      \     \"indexerFlags\": 0,\n      \"quality\": {\n        \"quality\": {\n          \"id\":
      4,\n          \"name\": \"HDTV-720p\",\n          \"source\": \"tv\",\n          \"resolution\":
      720,\n          \"modifier\": \"none\"\n        },\n        \"revision\": {\n
      \         \"version\": 1,\n          \"real\": 0,\n          \"isRepack\": false\n
      \       }\n      },\n      \"qualityCutoffNotMet\": false,\n      \"languages\":
      [\n        {\n          \"id\": 1,\n          \"name\": \"English\"\n        }\n
      \     ],\n      \"edition\": \"\",\n      \"id\": 1\n    },\n    \"popularity\":
      8.024,\n    \"id\": 1\n  },\n  {\n    \"title\": \"X-Men: The Last Stand\",\n
      \   \"originalTitle\": \"X-Men: The Last Stand\",\n    \"originalLanguage\":
      {\n      \"id\": 1,\n      \"name\": \"English\"\n    },\n    \"alternateTitles\":
      [\n      {\n        \"sourceType\": \"tmdb\",\n        \"movieMetadataId\":
      2,\n        \"title\": \"X-Men 3\",\n        \"sourceId\": 0,\n        \"votes\":
      0,\n        \"voteCount\": 0,\n        \"language\": {\n          \[...]
