interactions:
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://radarr.huis/api/v3/movie/lookup/tmdb?tmdbId=359724
  response:
    content: "{\n  \"title\": \"Ford v Ferrari\",\n  \"originalTitle\": \"Ford v Ferrari\",\n
      \ \"originalLanguage\": {\n    \"id\": 1,\n    \"name\": \"English\"\n  },\n
      \ \"alternateTitles\": [\n    {\n      \"sourceType\": \"tmdb\",\n      \"movieMetadataId\":
      0,\n      \"title\": \"\u0424\u043E\u0440\u0434 \u043F\u0440\u043E\u0442\u0438
      \u0424\u0435\u0440\u0440\u0430\u0440\u0456\",\n      \"sourceId\": 0,\n      \"votes\":
      0,\n      \"voteCount\": 0,\n      \"language\": {\n        \"id\": 1,\n        \"name\":
      \"English\"\n      }\n    },\n    {\n      \"sourceType\": \"tmdb\",\n      \"movieMetadataId\":
      0,\n      \"title\": \"\u0424\u043E\u0440\u0434 \u043F\u0440\u043E\u0442\u0438\u0432
      \u0424\u0435\u0440\u0440\u0430\u0440\u0438\",\n      \"sourceId\": 0,\n      \"votes\":
      0,\n      \"voteCount\": 0,\n      \"language\": {\n        \"id\": 11,\n        \"name\":
      \"Russian\"\n      }\n    },\n    {\n      \"sourceType\": \"tmdb\"[...]
- request:
    body: '{"title": "Ford v Ferrari", "tmdbId": 359724, "QualityProfileId": 1, "RootFolderPath":
      "/media-center/movies/Ford v Ferrari (2019)", "monitored": true}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: http://radarr.huis/api/v3/movie
  response:
    content: "[\n  {\n    \"propertyName\": \"TmdbId\",\n    \"errorMessage\": \"This
      movie has already been added\",\n    \"attemptedValue\": 359724,\n    \"severity\":
      \"error\",\n    \"errorCode\": \"MovieExistsValidator\",\n    \"formattedMessageArguments\":
      [],\n    \"formattedMessagePlaceholderValues\": {\n      \"propertyName\": \"Tmdb
      Id\",\n      \"propertyValue\": 359724\n    }\n  }\n]"
    headers:
      Content-Type:
      - application/json
    status_code: 400
version: 1
