interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.themoviedb.org/3/movie/79026
  response:
    content: '{"adult":false,"backdrop_path":null,"belongs_to_collection":null,"budget":0,"genres":[{"id":28,"name":"Action"},{"id":80,"name":"Crime"},{"id":18,"name":"Drama"}],"homepage":"","id":79026,"imdb_id":"tt0325950","original_language":"en","original_title":"El
      padrino","overview":"In the streets of East Los Angeles, Manny is a formidable
      drug dealer. Impressed by his extravagant lifestyle and prowess, his young son,
      Kilo, yearns to follow in his footsteps. Kilo resolves to learn how to prosper
      in the drug world, and his new life as a dealer begins. In a world where a man
      wants everything, he may end up with nothing.","popularity":7.888,"poster_path":"/10J7EQ8WvMYku8lcZrLewV2Ko4I.jpg","production_companies":[],"production_countries":[{"iso_3166_1":"US","name":"United
      States of America"}],"release_date":"2004-09-27","revenue":0,"runtime":128,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"}],"status":"Released","tagline":"","title":"El
      padrino: The Latin Godfather","video":false,"vote_average":6.864,"vote_count":33}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      ETag:
      - W/"7806cb6f7d432a6f8a5183b0315789f2"
      X-Memc:
      - HIT
      X-Memc-Age:
      - '17100'
      X-Memc-Expires:
      - '10909'
      X-Memc-Key:
      - 0c7f3e05da1a55ddd5df737bf827abd7
    status_code: 200
version: 1
