interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.themoviedb.org/3/search/tv?include_adult=False&query=The+Idol
  response:
    content: "{\"page\":1,\"results\":[{\"adult\":false,\"backdrop_path\":\"/boyxwftKk9NvsXBjmzJWrRveeYO.jpg\",\"genre_ids\":[18],\"id\":135251,\"origin_country\":[\"US\"],\"original_language\":\"en\",\"original_name\":\"The
      Idol\",\"overview\":\"After a nervous breakdown derailed Jocelyn's last tour,
      she\u2019s determined to claim her rightful status as the greatest and sexiest
      pop star in America. Her passions are reignited by Tedros, a nightclub impresario
      with a sordid past. Will her romantic awakening take her to glorious new heights
      or the deepest and darkest depths of her soul?\",\"popularity\":386.804,\"poster_path\":\"/gO9k7t9jSdkkWVG0deMZDpELZGw.jpg\",\"first_air_date\":\"2023-06-04\",\"name\":\"The
      Idol\",\"vote_average\":6.727,\"vote_count\":44},{\"adult\":false,\"backdrop_path\":\"/8l7JROm6XBAKT4RMJCjyJ0SfLNY.jpg\",\"genre_ids\":[10765,18],\"id\":202625,\"origin_country\":[\"KR\"],\"original_language\":\"ko\",\"original_name\":\"\uC131\uC2A4\uB7EC\uC6B4
      \uC544\uC774\uB3CC\",\"overview\":\"Pontifex Lembrary fights against a devil,
      he gets transferred to a different world possessing the body of Woo Yeon-woo
      who is a member of an unpopular idol group called Wild Animal. In an entertainment
      business where overwh[...]
[...]
