interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.themoviedb.org/3/search/tv?include_adult=False&query=das12ad9ds3asdd0d8sda
  response:
    content: '{"page":1,"results":[],"total_pages":1,"total_results":0}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      ETag:
      - W/"0e23279b004381f72a34159d5c7dfd1f"
      X-Memc:
      - MISS, STORE
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '22731'
      X-Memc-Key:
      - 1f4ce8aa847141033be0bf1ba27c1720
    status_code: 200
version: 1
